:root{
    --yellow:#ffb200;
    --green:#4AB19D;
    --red:#FF3F33;
    --white:#FFE6E1;
    --blue:#0ABAB5;
    --Darkblue:#7F55B1;


}
body,h1{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image:url('../media.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    color:var(--white)
}
header a{
    text-decoration: none;
    color:var(--yellow);
    min-width:120px;
}
header{
    display:flex;
    flex-wrap: wrap;
    row-gap:1em;
    padding: 1em;
}
#logo{
    flex:3;
    font-size: 1.25em;
    min-width:260px;
}
nav{
    flex:2;
    display:flex;
}
nav a{
    flex:1;
}
nav a:hover{
    color:var(--green)
}
.maintext{
    display:flex;
    flex-direction:column;
    height:40vh;
    justify-content: center;
    padding: 2em;
}
.tagline1{
    color:var(--red);
    font-size:2.5em;
}
.tagline2
{
    color:var(--yellow);
    font-size:1em;
}
.tagline
{
    color:var(--blue);
    font-size: 1.em;
}
.callus
{
    color:var(--Darkblue);
    font-size:1em;
}
.maintext div{
    margin-top:.50em;
}
.maintext button{
    width:20vw;
    margin-top:2em;
    border-radius:10px;
    padding:.7em;
    background-color: var(--green);
    color:var(--white);
    border:1px solid var(--green);
}
.menu
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
    color:var(--white);

}
#Menu,#Locations{
     background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
     font-size:2.5em;
     color:var(--red);
     display:flex;
     justify-content: center;
}
.menu th{
    color:var(--green);
    font-size: 1.8em;
}
table{
    width:100%;
    padding:1em;
}
.menu tr{
    display:flex;
    justify-content: center;
    margin-top:.8em;
}
.menu td:nth-child(1){
    flex:1;
    justify-self: left;
}
.menu td:nth-child(2){
    justify-self: right;
}
.maincourse{
    grid-row:span 2;
}
.Locations{
     background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
    color:var(--white);
    display:flex;
    flex-wrap: wrap;
}
.Locations h3,h2{
    color: var(--green);
    margin-bottom:.8em;
}
.Locations div{
    flex:1;
    padding:1em;
    min-width:220px;
}
/* footer{
    background-color: rgb(53,52,52);
    color:var(--white);
    padding:.25em  1em;
} */
 .hi{
    :root {
  --primary-color: #c8dc71;
  --gradient-color: linear-gradient(180deg, #d2ff00 0%, #00d2ff 100%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #16181b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Social Box */
.social-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1.25rem;
}

.social-box .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: #c5c5c5;
  background-color: #242529;
  border-radius: 50px;
  transition: color 0.15s ease-in,
    box-shadow 0.75s cubic-bezier(0.74, 0.01, 0.02);
}

.social-box .item svg {
  transition: transform 0.75s ease-in-out;
}

@property --fill-color {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.social-box .item:hover {
  color: var(--primary-color);
  --fill-color: 100%;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 1);
}

.social-box .item:hover svg {
  transform: scale(1.25);
}

.social-box .item::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -3px;
  border-radius: inherit;

  background: conic-gradient(
    var(--primary-color) var(--fill-color),
    transparent var(--fill-color)
  );
  transition: --fill-color 0.75s ease-in-out;
}
 }
 footer{
    background-color: rgb(53,52,52);
    color:var(--white);
    padding:.25em  1em;
}